@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
  
}

:root{
    --background-color: rgba(3,51,152);
    --text-color: rgb(255, 255, 255);
    --main-color: rgb(180, 10, 189);
    --side-color: rgb(194, 112, 18);
    --background-color02: rgb(228, 224, 224);
}

body {
    background-color: var(--background-color02);
    color: var(--text-color);
    height: 400vh;
}

/* header open */

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}  

.header .coverImg {
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header .coverImg img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -3;
    /* opacity: 20%; */
}

/* header image close */

.headerText {
    width: 100%;
    padding: 20px 40px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.headerText span {
    font-size: 30px;
    text-shadow: 3px 2px var(--main-color);
    text-decoration: underline wavy var(--main-color) 5px;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-count: 6 ;
    column-gap: 30px;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    color: var(--text-color);
    font-size: 18px;
}

.navbar .home-list::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -5px;
}

.navbar .list::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -5px;
    transition: 0.5s;
}

.navbar .list:hover::after{
    width: 100%;
}

.navbar .list:focus::after{
    width: 100%;
}

/* select box open*/

.navbar select{
    font-size: 16px;
    border: none;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

option:hover {
    color: var(--main-color);
  }

  /* navbar close */


.header .content {
    /* max-width: 1008px; */
    position: absolute;
    padding-left: 450px;
    margin-top: 300px;
    flex-wrap: wrap;
   
    /* position: absolute;
    display: flex;
    flex-wrap: wrap;

    padding-left: 450px;
    margin-top: 300px;
    /* z-index: 6; */
}

.content h1 {
    font-size: 27px;
    background-color: var(--background-color); 
    display: flex;
}

.content p {
    font-size: 18px;
    background-color: var(--background-color);
}

/* searchbar open */

.header .searchBar {
    /* display: flex;
    max-width: 1008px;
    position: absolute;
    left: 410px;
    top: 450px; */
    position: absolute;
    display: flex;
    flex-wrap: wrap;

    left: 410px;
    top: 450px;
}

.searchBar .searchBarForm {
    display: flex;
    /* border: 1px solid var(--text-color); */
    padding: 10px;
    /* background-color: var(--text-color); */
 
}

.searchBar .text {
    width: 400px;
    border: 0px;
    /* border-radius (top left bottom right) */
    border-radius: 25px 0px 0px 25px;
    outline: 0px;
    background-color: var(--text-color);
    color: var(--main-color);
    padding: 15px;
    font-size: 18px;
}

::placeholder {
    color: var(--main-color);
}

.searchBar .submit {
    width: 120px;
    border: 0px;
    border-radius: 0px 25px 25px 0px;
    outline: 0px;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 10px;
    font-size: 18px;
}

.searchBar .submit:hover {
    background-color: var(--side-color);
}

/* search bar close */

/* header close */

/* blog open */

.aboutCountries_ac {
   flex-wrap: wrap;
    margin: 0px auto 0px auto;
    text-align: center;
    height: auto;
    background-image: linear-gradient( var(--background-color), rgb(35, 103, 206), rgb(42, 118, 231), var(--background-color02));
}

h1 .fa-sharp {
    color: var(--main-color);
}

.ac_img_boxes {
    max-width: 1200px;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 50px;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.ac_img_box {
    background-color: var(--text-color);
    color: var(--main-color);
    font-size: 18px;
    border-radius: 5px;
}

.ac_img_box .ac_img {
    width: 100%;
    height: 320px;
}

.ac_img_box .ac_img img {
    width: 100%;
    height: 100%;
}

.ac_img_box details{
    text-justify: newspaper;
    color: var(--background-color);
}

.ac_img_box summary::after {
    content: ". . see more";
    color: var(--side-color);
    opacity: 50%;
}

.ac_img_box summary:focus::after {
    content: ". . see less";
}

.ac_img img:hover {
    transform: rotate(0deg) scale(1.02) translateY(-2px);
}

.ac_text {
    flex-wrap: wrap;
}


/* scroll-up */
.scroll_up_btn {
    display: flex;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--side-color);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.fa-angle-up {
    align-items: center;
    font-size: 30px;
    color: var(--text-color);
}



/* gallery open */

.viewCountry_btn {
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 50px auto;

    width: 200px;
    height: 50px;
    background-color: var(--main-color);

    border-radius: 25px;
    position: relative;
} 

.viewCountry_btn .gallery{
    position: relative;
    font-size: 22px;
    color: var(--text-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-left: 32px;

}

.viewCountry_btn:hover {
    background-color: var(--side-color);
}


.line1 {
    width: 100%;
    height: 2px;
    background-color: #969698;
}

/* blog close */

/* about open */

/* map describe open*/

.EU_describe {
    flex-wrap: wrap;
  position: relative;
  text-align: center;
}

.EU_describe .about_text {
    max-width: 968px;
    margin: 0 auto;
    color: black;
}

.about_text .fa-water {
    color:  rgb(42, 118, 231);
}

.about_text h1 {
    margin: 20px auto;
}


.EU_describe .map {

   display: flex;
   display: grid;
   max-width: 968px;
   height: 100vh; /*1200px width & 1000px height*/
   margin: 50px auto;
   grid-template-columns: 1fr 2fr 1fr ;
   grid-template-rows: repeat(3, 1fr); 

   border: 2px solid balck;
   /* background-color: var(--side-color); */
   column-gap: 50px;

   justify-content: center;
   align-content: center;
   flex-wrap: wrap;

 
}

.bg_area {
    grid-area: 1 / 1/ -1/ -1;
    z-index: 2;
    opacity: 0;
    transition: 1.5s;
}

.gg_box {
    width: 600px;
    height: 500px;
}

.bg_area:hover {
    opacity: 100;
}

.map .mapbox {
    width: 210px;
    height: 200px;
    color: black;
    filter: brightness(0.9);
}

.mapbox img {
    width: 100%;
    height: 80%;

    border: 2px solid var(--side-color);
    border-radius: 25px;
    transition: 0.5s;
}

.map .mapbox img:hover {
    border-radius: 10px;
    transform: scale(1.5);
    filter: brightness(1.1);
}

.map .mapbox_map {
    width: 450px;
    height: 500px;

    grid-row: span 2;
    grid-row: span 3;
    align-self: center;

    color: black;
    font-size: 30px;
    /* border: 2px solid var(--background-color); */
    padding: auto auto;
}

.mapbox_map img {
    width: 90%;
    height: 80%;
    border: 2px solid var(--side-color);
    border-radius: 10px;
}

.about_text h3 {
    color: #969698;
    margin-bottom: 30px;
}

/* about close */

/* gallery open */
.img_gallery {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 1200px;
    height: auto;
    margin: 0px auto;
    padding: 0px auto;
    /* background-color: black; */
}

.images {
    max-width: 1100px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 10px;

    justify-content: center;
    justify-items: center;
}

.image_box {
    /* width: 250px; */
    height: 250px;
    position: relative;
    z-index: 2;
}

.image_box img {
    width: 100%;
    height: 100%;
    filter: blur(1px);
}

.small_img_box {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 170px;
    height: 170px;
    z-index: 3;
}

.small_img_box img {
    width: 100%;
    height: 100%;
    filter: brightness(1.1);
}

.image_box .hide {
    position: absolute;
    bottom: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--side-color);
    opacity: 0.8;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: 1.5s;
    font-size: 18px;
}

.hide p {
    display: flex;
    position: absolute;
    padding: 0 auto;
    color: var(--text-color);
}

.image_box img:hover + .hide {
    display: flex;
    
}

.btn_class {
    max-width: 1200px;
    margin: 50px auto;
}

 .btn_class .btn {

    width: 200px;
    height: 50px;
    background-color: var(--main-color);

    border-radius: 25px;
    position: relative;

    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    color: var(--text-color);

    border-radius: 25px;
    position: relative;

    border: none;
    font-size: 22px;

    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: var(--side-color);
}

/* gallery close */

/* contact open  */
.contact {
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.contact .contact_cover_video {
    position: relative;
    width: 100%;
    height: 600px;
}

.contact_cover_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* .contact .email {
    position: relative;
    flex-wrap: wrap;
    text-align: center;
    top: 50px;
    color: black;
}

.email .email_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
} */

.footer {
    flex-wrap: wrap;
    max-width: 915px;
    height: 300px;
    background-color: var(--background-color02);
    color: black;
    text-align: left;
    position: absolute;
    left: 380px;
    top: 120px;
    display: flex;
    gap: 5px;
}

.footer .footer_head {
    width: 250px;
}

.dark_color {
    color: #969698;
}

.footer .h2_box {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 30px;
}

.follow_icon {
    position: relative;
    font-size: 30px;
}

.fa-facebook {
    color: #4267B2;
}

.fa-youtube {
    color: red;
}

.fa-instagram {
    background: linear-gradient(#feda75,  #fa7e1e, #d62976, #962fbf, #4f5bd5); /* you can change the colors based on your preference */
     background-clip: text; /*it defines how far the background should extend within an element, here we set it to text */
    -webkit-background-clip: text; /*for browsers compatibility*/
    -webkit-text-fill-color: transparent;   
     
 }  


 .fa-telegram {
    color: #0088cc ;
 }

 .fa-brands:hover {
    transform: scale(1.2);
 }

 .copyright {
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 30px;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }

 .copyright p {
    text-shadow: 1px 2px var(--main-color);
 }

/* contact close */

/* screen size open */

@media (max-width: 1024px) {

    .header .coverImg .content {
       max-width: 800px;
       padding-left: 280px;
       margin-top: 260px
    } 

    .content h1 {
        font-size: 25px;
    }

    .header .searchBar {
        left: 250px;
        top: 410px;
    }  

    .searchBar .searchBarForm {
        padding: 5px;
    }

    .searchBar .text {
        width: 380px;
        font-size: 16px;
    }

    .searchBar .submit {
        padding: 8px;
        width: 90px;
        font-size: 16px;
    }

    .ac_img_boxes {
        max-width: 1000px;
        margin: 0px auto 0px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
        column-gap: 10px;
        row-gap: 10px;
        margin-top: 50px;
        flex-wrap: wrap;
        padding: 10px 10px;
    }

    .ac_img_box .ac_img {
        height: 250px;
    }

       /* describe eu open*/

    .EU_describe .about_text {
    max-width: 728px;
    }

    .EU_describe .map {

   max-width: 728px;
   height: 90vh; /*1200px width & 1000px height*/
   margin: 30px auto;
   column-gap: 35px;
   }

   .gg_box {
    width: 550px;
    height: 450px;
}

   .map .mapbox {
    width: 160px;
    height: 150px;
}

    /* image gallery open */

    .img_gallery {
        max-width: 800px;
        margin: 0px auto 0px auto; /* top right bottom left */
        /* top right bottom left */
    }


    .images {
        max-width: 800px;
        row-gap: 20px;
        column-gap: 8px;
    }

    .small_img_box {
        width: 150px;
        height: 150px;
    }

    .footer {
    max-width: 720px;
    height: 270px;
    background-color: var(--background-color02);
    left: 250px;
    top: 100px;
    gap: 4px;
    }

    .footer .footer_head {
    width: 200px;
    font-size: 16px;
}
   
}

@media (max-width: 900px) {

    .header .coverImg .content {
        max-width: 700px;
        padding-left: 250px;
        margin-top: 230px;
     } 
 
     .content h1 {
         font-size: 23px;
     }
 
     .header .searchBar {
         left: 220px;
         top: 360px;
     }  
 
     .searchBar .searchBarForm {
         padding: 5px;
     }
 
     .searchBar .text {
         width: 350px;
         font-size: 15px;
     }
 
     .searchBar .submit {
         padding: 8px;
         width: 80px;
         font-size: 15px;
     }

        /* describe eu open*/
        
            .EU_describe .about_text {
                max-width: 628px;
                padding: auto;
            }
        
            .EU_describe .map {
        
                max-width: 628px;
                height: 90vh;
                margin: 30px auto;
                column-gap: 20px;
            }

            .map .mapbox {
                width: 140px;
                height: 130px;
            }

            .gg_box {
                width: 500px;
                height: 400px;
            }

            .map .mapbox img:hover {
                transform: scale(1.3);
            }

            .footer {
                max-width: 650px;
                left: 220px;
                top: 90px;
                }

         .footer .footer_head {
             width: 180px;
            font-size: 15px;                    
        }
   
}


@media (max-width: 800px) {

    .header .coverImg .content {
        max-width: 600px;
        padding-left: 230px;
        margin-top: 220px;
     } 
 
     .content h1 {
         font-size: 23px;
     }

     .content p {
        font-size: 15px;
     }
 
     .header .searchBar {
         left: 200px;
         top: 350px;
     }  
 
     .searchBar .text {
         width: 330px;
         font-size: 15px;
     }
 
     .searchBar .submit {
         padding: 4px;
         width: 70px;
         font-size: 15px;
     }

        /* describe eu open*/
        
            .EU_describe .about_text {
                max-width: 528px;
            }
        
            .EU_describe .map {
        
                max-width: 528px;
                height: 90vh;
                margin: 20px auto;
                column-gap: 15px;
            }

            .map .mapbox {
                width: 120px;
                height: 100px;
            }

            .gg_box {
                width: 480px;
                height: 380px;
            }

            .map .mapbox img:hover {
                transform: scale(1.3);
            }

                /* image gallery open */

    .img_gallery {
        max-width: 650px;
    }

    .image_box {
        height: 210px;
    }


    .images {
        max-width: 650px;
        row-gap: 17px;
        column-gap: 6px;
    }

    .small_img_box {
        width: 120px;
        height: 120px;
    }

            .footer {
                max-width: 650px;
                left: 220px;
                top: 90px;
                }

         .footer .footer_head {
             width: 180px;
            font-size: 15px;                    
        }
   
}

@media (max_width: 700px) {
            /* describe eu open*/
        
            .EU_describe .about_text {
                max-width: 428px;
            }
        
            .EU_describe .map {
        
                max-width: 428px;
                height: 90vh;
                margin: 17px auto;
                column-gap: 10px;
            }

            .map .mapbox {
                width: 50px;
                height: 50px;
            }

            .gg_box {
                width: 380px;
                height: 350px;
            }

            .map .mapbox img:hover {
                transform: scale(1.3);
            }

            .map .mapbox_map {
                width: 300px;
                height: 400px;
            }

            .mapbox_map img {
                width: 70%;
                height: 60%;
            }

}

/* screen size close */

